<h1>Add Comments</h1>
<br />
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :username %>:
    <%= f.text_field(:username, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.label :body %>:
    <%= f.text_field(:body, {:class => 'form-control'}) %><br />
  </p>
  <p>
    <%= f.submit ({:class => "btn btn-primary"}) %>
  </p>
<% end %>
